@model IEnumerable<MVCKhumaloCraftFinal4.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Shopping Cart</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="@item.Product.ImageUrl" alt="@item.Product.productName" style="width: 100px; height: auto;" /></td>
                    <td>@item.Product.productName</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity * item.Product.Price)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Your cart is empty.</p>
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>