@model IEnumerable<MVCKhumaloCraftFinal4.Models.Product>

@{
     ViewData["Title"] = "Product Items";
     bool isAdmin = Context.Session.GetString("IsAdmin") == "true";
}

<h1>Craftwork Items</h1>

<div class="container">
    <div class="row mb-3">
        <div class="col text-right">
            @if (isAdmin)
            {
                <form asp-action="Create" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-primary">Add New Item</button>
                </form>
            }
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@item.ImageUrl" class="card-img-top img-fluid" alt="@item.productName" style="max-height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title text-dark">@Html.DisplayFor(modelItem => item.productName)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.description)</h6>
                        <p class="priceText"><strong>Price:</strong> R @item.Price.ToString("0.00")</p>
                        <p class="categoryText">@Html.DisplayFor(modelItem => item.Category)</p>
                        <button onclick="addToCart(@item.productID)" class="btn btn-success">Add to Cart</button>
                        @if (isAdmin)
                        {
                            <a asp-action="Delete" asp-route-id="@item.productID" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function addToCart(productID) {
            $.ajax({
                url: '@Url.Action("AddToCart", "Products")',
                type: 'POST',
                data: { productID: productID },
                success: function (result) {
                    alert('Product added to cart successfully!');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert('Error adding product to cart. Please try again.');
                }
            });
        }
    </script>
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>